<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><a href="/submitter">Site</a></h1>
    <h2>태스크별 제출 현황</h2>
    <%- list %>
    <br>
    <a href="/logout">로그아웃</a>
    <a href="/userInfo">내 계정</a>

</body>
</html>