<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include ('submitter_navbar') %>
    <div style="margin:4%;">
        <h1><a href="/submitter">Site</a></h1>
        <h2>태스크</h2>
        <a href="/submitter/task/participate">참여</a>
        <a href="/submitter/task/submit">제출</a>
        <br>
        <br>
        <a href="/logout">로그아웃</a>
        <a href="/userInfo">내 계정</a>
    </div>

</body>
</html>