<html>
    <head>
<title>
    <%= title %>
</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    
    <div class="mainpage-body">
        <%- include ('navbar') %>
        <div style="margin:4%; padding-top:1%; padding-bottom:2%; text-align:center; background-color: black; opacity:85%; border-radius: 20px;">
            <p><h2 style="margin-top:0;">로그인</h2></p>
            <hr>
            <%- include('login') %>
        </div>
    </div>

   
</body>
</html>
