<link rel="stylesheet" type="text/css" href="css/style.css">
<html>
<div class="mainpage-body">
  <%- include ('navbar') %>
  <div class="mainpage-container">
    <div class="mainpage-content">
      <h2>Please Login</h2>
    </div>
  </div>
</div>

</html>