<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <%- include ('admin_navbar') %>
    <div style="margin:4%;">
    <h1>태스크 통계</h1>
    <hr>
    <p></p>
    
    <h2> 태스크 목록 </h2>
        <%- list %>
        <br>

    </div>
            
  </body>
</html>