<link rel="stylesheet" type="text/css" href="css/style.css">
<html>

<div class="mainpage-body">
  <%- include ('evaluator_navbar') %>
  <div class="mainpage-container">
    <div class="mainpage-content">
      <h2>Welcome! <%= AccID %> ( <%= name %> <%= role %>님)</h2>
    </div>
  </div>
</div>

</html>